{% extends 'base.html' %}
{% block main %}
    <div class="container ">
        <div class="col-md-6 col-sm-12 ">
            <form action="{% url 'parser_multiple_usernames' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Введите ссылки на профилей пользователей</label>
                    <textarea name="profiles_urls" cols="30" rows="10" class="form-control"></textarea>

                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}